html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  background-color: rgb(69, 69, 69);
}

Canvas {
  margin: 0;
  width: 100%;
  height: 100%;
}

.node-header{
  font-size: 1.5 rem;
  font-weight: 700;
  padding: 5px;
}

.node-body{
  font-size: 1 rem;
  font-weight: 400;
  padding: 5px;

}